body{
    font-family: "Poppins";
}
#nav, #hero{
    display: flex;
    max-width:1050px;
    margin:0 auto;
   
}
#up-start{
 margin-right:50px;
 margin-top: 15px;
 display: flex;
 color: #105749;
 padding-top:10px;
}
#up-start i, #up-start span{
 margin: 10px 3px;
}
.orange{
    color: orange;
}
#menu{
 display:flex;
 justify-content: end;
 width:700px;
 list-style:none;
 font-size: 16px;

}
#menu li, #menu input{
    margin:10px 10px;
    color: #105749;
}
#menu input{
    border: 2px solid #105749;
    color: #105749;
    border-radius: 20px;
    width:90px;
    padding: 5px 10px;
  
}
#menu input[type="button"]:focus{
    background-color: #105749;
    color:white;
    cursor: pointer;
}
#hero{
   
    padding-bottom: 50px;
    background-color: #105749;
    height: 550px;

     
}
#hero-box{
    width:100%;
    background-color: #105749;
}
#hero-text{
  width:60%; 
  margin-top: 25px;

}
#hero-subtitle{
    color: goldenrod;
    text-transform: uppercase;
    text-align:start;
    font-weight: 400;
}
#hero-title{
    color:wheat;
    text-transform: uppercase;
    font-weight: 500;
}
#experience{
    color:yellowgreen;
}
#hero img{
    width:40%;
    min-height: 80%;
    margin: 0 0 80px 20px;
    
}